<a href="https://colab.research.google.com/github/leandrobarbieri/python-datascience-ml/blob/main/Pickle_Joblib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pickle
Salvando o modelo com pickle

In [17]:
# Salvar um modelo usando pickle
# https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/
# https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv

import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle

In [18]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pandas.read_csv(url, names=names)
dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [19]:
array = dataframe.values

# todas as primeiras 7 colunas (features)
X = array[:,0:8]

# classe target
Y = array[:,8]

# separação do treino e teste
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.33, random_state=1)

# Fit
model = LogisticRegression()
model.fit(X_train, Y_train)

# save the model to disk
filename = 'pickle_model.sav'

# Descarrega o modelo em um arquivo binário
pickle.dump(model, open(filename, 'wb'))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [20]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)

0.7795275590551181

# Joblib
Salvando o modelo com joblib

In [21]:
import joblib
filename = 'joblib_model.sav'

# salva o modelo como arquivo
joblib.dump(model, filename)

['joblib_model.sav']

In [22]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, Y_test)
print(result)

0.7795275590551181